body {
    footer {
        width: 100%;
        padding: 1em;
        background-color: #f0f0f0;
        text-align: center;

        p a {
            text-decoration: none;
            color: #00f;
        }
    }
}

@keyframes wb {
    0% {
        color: #fff;
    }

    50% {
        color: #000;
    }

    100% {
        color: #fff;
    }
}
/* @media screen and (min-width: 1024px) {
    h1 {
        font-size: 3em !important;
    }

    nav {
        font-size: 1.5em !important;

        a {
            font-size: 1.3em !important;
        }
    }

    p,
    span:not(.current):not(#gf) {
        font-size: 1.3em !important;
    }
} */